<!DOCTYPE htext>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" href="css/intro.css"> -->
    <style>
        body{
            color: white!important;
            background-color: rgb(0, 48, 110)!important;
        }
        .card-title{
            color: rgb(0, 48, 110)!important;
        }
        .card-text{
            color: rgb(41, 120, 194);
        }
        .card{
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- include('partials/link') %>
    <div class="container container-fluid ps-md-0">
        <div class="row content mt-5">
            <h1 class="login-heading mb-4">Welcome Username</h1>
            <div class="card">
                <div class="card-body">
                  <h2 class="card-title text-center">About</h2>
                  <p class="card-text mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ratione nesciunt aliquam, aspernatur voluptatum rerum eius soluta tempora itaque harum hic sunt maxime ut numquam sint facilis aperiam possimus voluptatem nemo rem, vero voluptas. Soluta obcaecati dolorem vitae distinctio facere sunt, beatae a, incidunt temporibus voluptatum dolore consequuntur voluptates error, cum perferendis voluptas animi ducimus magni! Quae delectus ea eveniet quos inventore cumque itaque sint cupiditate voluptates, sunt, debitis praesentium perferendis distinctio. Aut similique eum, unde reprehenderit assumenda, deleniti quae, earum voluptatibus repellat ad quasi odio incidunt ab sunt ex expedita nobis totam minima voluptatum exercitationem dolor iusto libero mollitia dicta. Itaque dolores, aliquid, distinctio in ex atque earum, possimus aut commodi explicabo iure nam eveniet vitae esse! Commodi totam fugit aut porro voluptas ab vero sunt, velit minima sequi repudiandae nulla. Magnam dolores quasi molestiae totam ducimus nihil illum quos ut illo ex tenetur asperiores fugiat, perspiciatis ipsam et eaque maiores nam corrupti consequatur cupiditate laboriosam quidem ea. Doloribus adipisci architecto aut sequi debitis dignissimos omnis error, natus eligendi? Rerum quibusdam facere quis quo, itaque consequuntur non. Nobis, obcaecati expedita velit at saepe aspernatur ut natus vitae? Reiciendis dicta accusantium eveniet minus dolor temporibus architecto, ullam dignissimos distinctio neque?</p>
                </div>
              </div>
              <div class="card">
                  <div class="card-body">
                    <h2 class="card-title text-center">Abstract</h2>
                    <p class="card-text mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ratione nesciunt aliquam, aspernatur voluptatum rerum eius soluta tempora itaque harum hic sunt maxime ut numquam sint facilis aperiam possimus voluptatem nemo rem, vero voluptas. Soluta obcaecati dolorem vitae distinctio facere sunt, beatae a, incidunt temporibus voluptatum dolore consequuntur voluptates error, cum perferendis voluptas animi ducimus magni! Quae delectus ea eveniet quos inventore cumque itaque sint cupiditate voluptates, sunt, debitis praesentium perferendis distinctio. Aut similique eum, unde reprehenderit assumenda, deleniti quae, earum voluptatibus repellat ad quasi odio incidunt ab sunt ex expedita nobis totam minima voluptatum exercitationem dolor iusto libero mollitia dicta. Itaque dolores, aliquid, distinctio in ex atque earum, possimus aut commodi explicabo iure nam eveniet vitae esse! Commodi totam fugit aut porro voluptas ab vero sunt, velit minima sequi repudiandae nulla. Magnam dolores quasi molestiae totam ducimus nihil illum quos ut illo ex tenetur asperiores fugiat, perspiciatis ipsam et eaque maiores nam corrupti consequatur cupiditate laboriosam quidem ea. Doloribus adipisci architecto aut sequi debitis dignissimos omnis error, natus eligendi? Rerum quibusdam facere quis quo, itaque consequuntur non. Nobis, obcaecati expedita velit at saepe aspernatur ut natus vitae? Reiciendis dicta accusantium eveniet minus dolor temporibus architecto, ullam dignissimos distinctio neque?</p>
                  </div>
                </div>
        </div>
      </div>
      
</body>
</html>

